@layout('layouts.main')

@section('title')
Publicaciones - Publica tu oferta de trabajo
@endsection

@section('content')
<h1>
  Todos los trabajos
</h1>

<div class="job-container">
  <div class="blank"></div>
  <div class="job-info">
    <h3>Titulo</h3>
    <p>Descripcion del trabajo</p>
  </div>
</div>
@endsection